.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding-inline: 40px;
  font-size: 20px;
  background-color: rgb(221, 221, 221);
  margin-block: 0;
}

.site-header ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

.site-header img {
  height: 60px;
}

.site-header a {
  background-color: #446084;
  padding: 1rem 2rem;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  border-radius: 100px;
}

.site-header a:hover {
  color: #ffffff;
  background-color: #2c3e56;
}
